<div class="container text-center padded">
  <h1>Our team:</h1>
  <ul class="list-inline text-center">
    <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle team-image" %>
      <h3><%= member.capitalize %></h3>
    </li>
    <% end %>
  </ul>
  <h3 class="padded">
  <a href="mailto:container@airbnb.com"></a>
  </h3>
</div>



